<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

    {% if request.user.is_authenticated %}

      <h2><li class="nav-item">
        {{request.user}}</li></h2>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'wishlist' %}">Wishlist</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'list-create' %}">Create list</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'signout' %}">Signout</a>
        </li>
    {% else %}

      <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'signup' %}">Signup</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'signin' %}">Signin</a>
      </li>
    {% endif %}
    </ul>


  </div>
</nav>
